<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../../components/head.ejs") %>
  <script src="/js/user.js"></script>
  <title>GradeAnalyzer | Settings</title>
</head>

<body>
  <%- include("../../components/sidebar.ejs") %>

  <main class="sm:ml-64 p-6">
    <h1 class="text-2xl font-semibold mb-6">Settings</h1>

    <div id="settings" class="bg-background-50 shadow-md rounded-lg p-6">

      <!-- Time Format Section -->
      <div class="mb-6">
        <label for="time-format" class="block text-sm font-medium text-text">Time Format</label>
        <select id="time-format" class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:ring-2 focus:ring-primary-500">
          <option value="12h">12h</option>
          <option value="24h">24h</option>
        </select>
      </div>

      <!-- Date Format Section -->
      <div class="mb-6">
        <label for="date-format" class="block text-sm font-medium text-text">Date Format</label>
        <select id="date-format" class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:ring-2 focus:ring-primary-500">
          <option value="MM-DD-YYYY">MM-DD-YYYY</option>
          <option value="DD-MM-YYYY">DD-MM-YYYY</option>
          <option value="YYYY-MM-DD">YYYY-MM-DD</option>
        </select>
      </div>

      <!-- Theme Section -->
      <div class="mb-6">
        <label for="theme" class="block text-sm font-medium text-text">Theme</label>
        <select id="theme" class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:ring-2 focus:ring-primary-500">
          <option value="system">System</option>
          <option value="light">Light</option>
          <option value="dark">Dark</option>
        </select>
      </div>

      <!-- GPA Goals Section -->
      <div class="mb-6">
        <label class="block text-sm font-medium text-text">GPA Goals</label>
        <div class="flex items center space-x-4">
          <!-- GPA Goal, and Weighted GPA Goal Inputs -->
          <input id="gpa-goal" type="number" class="mt-1 block w-1/2 p-3 border border-gray-300 rounded-md focus:ring-2 focus:ring-primary-500" placeholder="GPA Goal">
          <input id="weighted-gpa-goal" type="number" class="mt-1 block w-1/2 p-3 border border-gray-300 rounded-md focus:ring-2 focus:ring-primary-500" placeholder="Weighted GPA Goal">
        </div>
      </div>

      <!-- Save Button -->
      <button id="save-settings" class="mt-4 w-full bg-primary-500 text-white px-4 py-2 rounded hover:bg-primary-400 transition-colors duration-200">Save Settings</button>

    </div>
  </main>

  <script>
    const user = new User(app);

    // Fetch and display current user settings
    user.getSettings().then((response) => {
      if (response.status === "success") {
        document.getElementById("time-format").value = response.data.timeFormat;
        document.getElementById("date-format").value = response.data.dateFormat;
        document.getElementById("theme").value = response.data.theme;
        document.getElementById("gpa-goal").value = response.data.goals.gpa;
        document.getElementById("weighted-gpa-goal").value = response.data.goals.weightedGPA;
      }
    });

    // Save settings button event listener
    const saveSettingsButton = document.getElementById("save-settings");
    saveSettingsButton.addEventListener("click", async () => {
      saveSettingsButton.disabled = true; // Disable button to prevent multiple clicks

      const timeFormat = document.getElementById("time-format").value;
      const dateFormat = document.getElementById("date-format").value;
      const theme = document.getElementById("theme").value;
      const gpaGoal = document.getElementById("gpa-goal").value;
      const weightedGpaGoal = document.getElementById("weighted-gpa-goal").value;

      // Update user settings
      const response = await user.updateSettings({
        timeFormat,
        dateFormat,
        theme,
        goals: {
          gpa: gpaGoal,
          weightedGPA: weightedGpaGoal
        }
      });

      // Notify user of update status
      app.ui.notification(
        "alert",
        response.message,
        response.status === "success" ? "success" : "error",
        document.getElementById("settings"),
        "settings"
      );

      saveSettingsButton.disabled = false; // Re-enable button
    });
  </script>
</body>

</html>